@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <h1>About Blog and creator.</h1>
        <p class="lead">This blog helped me realize basic principles of Asp.net .</p>
        <p>My name is Mihail , if you will have some questions - you could write me))</p>


    </div>

</body>
