
@{

    var session = HttpContextAccessor.HttpContext.Session;
    var currentUser = session.GetString("CurrentUser");

    User user = null;
    if (!string.IsNullOrEmpty(currentUser))
    {
        user = JsonConvert.DeserializeObject<User>(currentUser);
    }

}
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>





      
            </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <div class="text-end">

                <li><a href="https://localhost:7027/Home/Index" class="nav-link px-2 text-white">Home</a></li>



            </div>
        <li><a href="https://localhost:7027/Profile/Index" class="nav-link px-2 text-white">Profile</a></li>


        <li><a href="https://localhost:7027/About/Index" class="nav-link px-2 text-white">About</a></li>


        </ul>


        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                @if (user != null)
                {
                    @user.Email
                }
        </form>
        
                <div class="text-end">
                    <a href="https://localhost:7027/Login/logout" type="button" class="btn btn-outline-light me-2">Log out</a>
                </div>
           

    </div>
    </div>
</header>

@*   
    <form name="login" method="post"  action="Login">
*@


